<pre>{{items | json}}</pre>

<div class="slider">

  <div class="slide" *ngFor="let item of items">
    <div class="slide-bg">
      <img class="slide-bg-image" src="https://image.tmdb.org/t/p/original/wfrfxivLOBtGMC98tIr2LSOeKSe.jpg" alt="">
    </div>
    <div class="slide-pane">
      <h2 class="name">{{item.title}}</h2>
      <div class="meta">
        <div class="info">
          <span class="rating"> <span>star</span><span class="rating-value">7.5</span><span>/10</span> </span>
          <span>{{item.vote_count}}</span>
          <span>2021</span>
        </div>
      </div>
      <div class="desc mt-6">
        The Addams get tangled up in more wacky adventures and find themselves involved in hilarious run-ins with all
        sorts of unsuspecting characters.
      </div>
    </div>
  </div>
</div>
